version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: secure_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - secure-net

  secure-api:
    build: .
    container_name: secure-api
    depends_on:
      - postgres
    env_file: .env
    ports:
      - "3000:3000"
    networks:
      - secure-net

networks:
  secure-net:
    driver: bridge

volumes:
  pgdata:
